@{
    ViewBag.Title = "Index";
}
@model IndexViewModel

@using MvcApplication2.Models
@using System.Web.Helpers
@using System.Collections.Generic


<link rel="stylesheet" href="~/Content/Site.css" media="screen" />

<div class="header" style="border-bottom-style: solid;border-width: 25px; border-color: #F7D417; width: 100%;">
    @*<h1 class="search" style="padding-top: 5px;">Search: <input name="searchUser" /></h1>*@
    <h1 class="title" style="margin-top: 20px;">Personal Music Repository</h1>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    { 
        <h1 class="login" style="padding-top: 5px;">Username: <input name="username" style="width: 100px; font-size: 12px; height: 12px; top: 0px;" /></h1>
        <h1 class="login">Password: <input name="password" type="password" style="width: 100px; font-size: 12px; height: 12px; top: 50px;" /></h1>
        <h1 class="login"><input type="submit" value="Login" style="width: 50px; text-align: center; font-size: 10px;" /></h1>
    }
    <h1 class="loginR">@Html.ActionLink("Register", "Register", "Home", null, new { @class = "loginR" })</h1>   @* Link to registration page *@

    @if (@Model.login_table[0].login_success.Equals("N"))
    {
        <h1 class="invalid">Invalid Username/Password, try again!</h1>
    }
        
        
    
    
    
</div>

