@{
    ViewBag.Title = "Register";
}

<link rel="stylesheet" href="~/Content/Site.css" media="screen" />

<div class="header" style="border-bottom-style: solid;border-width: 25px; border-color: #F7D417; width: 100%;">
    @*<h1 class="search" style="padding-top: 5px;">Search: <input name="searchUser" /></h1>*@
    <h1 class="title" style="margin-top: 20px;">Personal Music Repository</h1>
</div>


<form>
    
    @*KCS Inputs*@
    <div style="position: relative; left: 500px; top: 100px;">
        <h1 style="font-size: 14px; font-weight: 600;">Register Here:</h1>
        <div id="BNSF" style="float: left; border-right: solid; border-width: 1px; border-color: grey; margin-right: 10px;">
            <h1 style="font-weight: normal; font-size: 14px; padding-right: 10px;">First Name</h1>
            <h1 style="font-weight: normal; font-size: 14px; padding-right: 10px; padding-top: 7px;">Last Name</h1>
            <h1 style="font-weight: normal; font-size: 14px; padding-right: 10px; padding-top: 6px;">Username</h1>
            <h1 style="font-weight: normal; font-size: 14px; padding-right: 10px; padding-top: 6px;">Password:</h1>
        </div>
        <div style="padding-top: 10px;">
            <input name="firstname" id="startDate" style="width: 100px; font-size: 12px;" />
            <br />
            <input name="lastname" id="startDate" style="width: 100px; font-size: 12px; margin-top: 10px;" />
            <br />
            <input name="username" id="startDate" style="width: 100px; font-size: 12px; margin-top: 10px;" />
            <br />
            <input name="password" id="startDate" style="width: 100px; font-size: 12px; margin-top: 10px;" />
        </div>
    </div>
    

    <h1><input id="go" type="submit" value="Submit" onclick="confSubmit(this.form);" class="date" style="top: 300px; left: 300px; width: 60px; text-align: center; font-size: 12px;" /></h1>
</form>